
@import '../../public/css/themes/themeify.scss';

.form-select-wrapper {
    position: relative;
    z-index: 100;
    height: 100%;

    .form-select-button {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        z-index: 100;

        &:before {
            /* 延长button范围，在鼠标移出leave时，可到达options层。 否则options会快速隐藏 */
            content: '';
            position: absolute;
            left: 0;
            bottom: -8px;
            height: 8px;
            width: 100%;
        }

        .form-select-current-value {
            margin-right: 8px;
            font-size: 14px;
            line-height: 1.3;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .form-select-button-icons {
            display: flex;
            flex-direction: column;

            .iconfont {
                font-size: 12px;
                height: 7px;
                width: 12px;
                font-weight: bold;
                line-height: 7px;
            }
        }
    }
}

.form-select-options {
    position: fixed;
    right: 0;
    top: 22px;
    display: none;
    border-radius: 4px;
    max-height: 32 * 5 + px;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 9999;

    @include themeify {
        background: themed('block-bg-not-transparency');
        box-shadow: 0 5px 10px 0 themed('box-shadow-hover');
    }

    .form-select-option-item {
        padding: 8px 16px;
        font-size: 14px;
        transition: all 0.3s ease-in-out 0s;
        white-space: nowrap;
        cursor: pointer;

        @include themeify {
            color: themed('block-font-color');
        }

        &:hover,
        &.active {
            @include themeify {
                color: themed('font-color-white-grey') !important;
                background: themed('block-bg-color-hover') !important;
            }
        }
    }
}
