{
  "extends": "stylelint-config-standard",
  "plugins": [
    "stylelint-scss"
  ],
  "rules": {
    "indentation": 4,
    "selector-pseudo-element-colon-notation": "single",
    "at-rule-no-unknown": null,
    "font-family-no-duplicate-names": null,
    "no-descending-specificity": null,
    "color-hex-case": null
  }
}
