$light: (
    block-bg-color: hsla(0, 0%, 100%, 0.9),
    block-bg-color-hover: hsla(0, 0%, 100%, 0.98),
    block-font-color: #676767,
    block-font-color-hover: #333,
    placeholder-color: rgba(0, 0, 0, 0.28),
    scrollbar-bg: hsla(0, 0%, 90%, 1),
    setting-select-bg: hsla(0, 0%, 94%, 1),
    box-shadow: rgba(0, 0, 0, 0.08),
    box-shadow-hover: rgba(0, 0, 0, 0.08),
    block-bg-not-transparency:hsla(0, 0%, 100%, 0.94),
    folder-add-bg:rgba(255, 255, 255, 1),
    font-color-white-grey: #333,
    border-color: hsla(0, 0%, 90.2%, 0.8),
    button-grey-bg: #e6e6e6,
    button-grey-color: #676771,
    block-on-popup-box-shadow: rgba(0, 0, 0, 0.08),
    block-on-popup-bg:hsla(0, 0%, 100%, 0.9),
    block-on-popup-item-hover: rgba(0, 0, 0, 0.08),
    grey-white-bg: #e6e6e6,
    grey-white-bg-clolor: #676767,
    comfirm-bg: rgba(255, 255, 255, 0.2),
    comfirm-shadow: rgba(0, 0, 0, 0.16),
    comfirm-bg-header: rgba(0, 0, 0, 0.08),
    fullscreen-bg: hsla(0, 0%, 100%, 0.9),
    fullscreen-conteng-bg:hsla(0, 0%, 100%, 0.94),
    fullscreen-header: #eee,
    fullscreen-border-color:rgba(0, 0, 0, 0.16),
    text-shadow-color: rgba(0, 0, 0, 0.3),
    transparent-scroll-bg: rgba(255, 255, 255, 0.1),
    transparent-scroll-btn: rgba(0, 0, 0, 0.1),
    icon-classic-text-color: #fff,
    standby-bg: rgba(255, 255, 255, 1),
    standby-color: rgba(255, 255, 255, 1),
    standby-shadow: rgba(0, 0, 0, 0.16)
);
