$night: (
    block-bg-color: rgba(32, 33, 36, 0.9),
    block-bg-color-hover: hsla(0, 0%, 100%, 0.08),
    block-font-color: hsla(0, 0%, 100%, 0.4),
    block-font-color-hover: #fff,
    placeholder-color: rgba(255, 255, 255, 0.26),
    scrollbar-bg: hsla(0, 0%, 100%, 0.05),
    setting-select-bg: hsla(0, 0%, 100%, 0.08),
    box-shadow: rgba(0, 0, 0, 0.2),
    box-shadow-hover: rgba(0, 0, 0, 0.4),
    block-bg-not-transparency:rgba(32, 33, 36, 0.96),
    folder-add-bg:rgba(32, 33, 36, 1),
    font-color-white-grey: hsla(0, 0%, 100%, 0.8),
    border-color: hsla(0, 0%, 100%, 0.05),
    button-grey-bg: hsla(0, 0%, 100%, 0.8),
    button-grey-color: #202124,
    block-on-popup-box-shadow: rgba(0, 0, 0, 0.08),
    block-on-popup-bg:hsla(0, 0%, 100%, 0.04),
    block-on-popup-item-hover:hsla(0, 0%, 100%, 0.08),
    grey-white-bg: hsla(0, 0%, 100%, 0.8),
    grey-white-bg-clolor: #202124,
    comfirm-bg: rgba(255, 255, 255, 0.1),
    comfirm-shadow: rgba(0, 0, 0, 0.32),
    comfirm-bg-header: rgba(255, 255, 255, 0.05),
    fullscreen-bg: rgba(32, 33, 36, 0.9),
    fullscreen-conteng-bg:rgba(32, 33, 36, 0.96),
    fullscreen-header: rgba(255, 255, 255, 0.2),
    fullscreen-border-color:rgba(255, 255, 255, 0.32),
    text-shadow-color: rgba(255, 255, 255, 0.6),
    transparent-scroll-bg: rgba(255, 255, 255, 0.1),
    transparent-scroll-btn: rgba(0, 0, 0, 0.1),
    icon-classic-text-color: hsla(0, 0%, 100%, 0.8),
    standby-bg: rgba(0, 0, 0, 1),
    standby-color: rgba(255, 255, 255, 0.86),
    standby-shadow: rgba(0, 0, 0, 0.16)
);
