@import '../../../public/css/themes/themeify.scss';

.protocol-wrapper {
    width: 640px;

    h2 {
        padding: 16px 0 32px 0;
        font-size: 32px;
    }

    h3 {
        padding: 18px 0 8px 0;
        font-size: 24px;
    }

    h4 {
        font-size: 18px;
        padding: 16px 0 12px 0;
    }

    p,
    li {
        padding-bottom: 16px;
        font-size: 14px;
        line-height: 24px;
        list-style: none;
    }

    table {
        margin-bottom: 8px;
        font-size: 12px;
        line-height: 24px;

        thead {
            font-weight: bold;
        }

        th {
            width: 100px;
            text-align: left;
        }

        td {
            padding: 0 4px;
        }
    }
}
